#locations, .subtitle, #index-article, .contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 800px) {
  .contact section button, .contact section, iframe, input, textarea, select, button {
    width: auto !important;
  }
}
@media (max-width: 800px) {
  nav {
    display: none;
  }
  ul, li, #products {
    flex-direction: column !important;
  }
  .burger {
    text-align: center;
    font-size: 45px;
    padding: 24px;
    margin-top: 35px;
  }
  .mobileMenu {
    display: inline !important;
  }
  .mobileMenuNav {
    display: none;
    align-items: center;
  }
  .mobileMenuNav li {
    text-decoration: underline;
    text-decoration-color: #fa4d60;
    text-decoration-thickness: 2px;
  }
  .mobileMenuNav li a {
    padding: 16px;
  }
  .backToTop {
    display: flex !important;
    border-radius: 50% !important;
    font-size: 15px;
    padding: 11px !important;
    position: fixed;
    left: 2%;
    bottom: 7vh;
    z-index: 100;
    opacity: 0.7;
    border: 2px solid #fa4d60;
    height: 65px;
  }
  .backToTop a {
    padding: 0;
  }
  .backToTop a img {
    height: 37px;
    transform: rotate(180deg);
  }
  footer {
    margin-bottom: 25px;
  }
  footer ul {
    flex-direction: row !important;
  }
  footer ul li a img {
    height: 39px !important;
    margin-inline: 0 !important;
  }
  .contact section {
    justify-content: center;
    display: flex;
    flex-direction: column !important;
  }
  .subtitle {
    text-align: center !important;
  }
  p {
    font-size: 19.2px;
    text-align: left !important;
  }
  h1, #productsTitle {
    font-size: 64px !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
    line-height: 70px;
  }
  h2 {
    font-size: 32px;
  }
}
#locations, .subtitle, #index-article, .contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.items{
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 800px) {
  iframe, input, textarea, select, button, .contact section, .contact section button {
    width: auto !important;
  }
}
.contact section {
  align-self: center;
  width: 425px;
}
.contact section button {
  width: 100%;
  text-align: center;
  margin: 5px;
  padding: 14px;
  justify-content: center;
}

#message {
  resize: vertical;
}

input, textarea, select {
  height: 56px;
  width: 425px;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
  margin: 5px;
  box-sizing: border-box;
  border-color: rgb(221, 221, 221);
  font-size: 14px;
  padding: 14px;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #fa4d60;
  border-radius: 0.6em;
  color: #191919;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 10px;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.btn:hover, .btn :focus {
  outline: 0;
  background-color: #cac8c8;
  text-decoration: underline;
  text-decoration-color: #fa4d60;
  cursor: pointer;
}

.controlesContador{
  display: flex;
  justify-content: center;
}

.controlesContador > h2 {
  margin: auto;
}

#icono{
  height: 70px;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
}

nav > ul {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: row;
  margin-top: 0;
}

nav > ul > li {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.container:hover > li > p, .container:hover {
  color: black;
}

#products {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
#products img {
  height: 200px;
}

#locations, .subtitle, #index-article, .contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 800px) {
  iframe, input, select, textarea, button, .contact section, .contact section button {
    width: auto !important;
  }
}
@media (max-width: 800px) {
  nav {
    display: none;
  }
  ul, li, #products {
    flex-direction: column !important;
  }
  .burger {
    text-align: center;
    font-size: 45px;
    padding: 24px;
    margin-top: 35px;
  }
  .mobileMenu {
    display: inline !important;
  }
  .mobileMenuNav {
    display: none;
    align-items: center;
  }
  .mobileMenuNav li {
    text-decoration: underline;
    text-decoration-color: #fa4d60;
    text-decoration-thickness: 2px;
  }
  .mobileMenuNav li a {
    padding: 16px;
  }
  .backToTop {
    display: flex !important;
    border-radius: 50% !important;
    font-size: 15px;
    padding: 11px !important;
    position: fixed;
    left: 2%;
    bottom: 7vh;
    z-index: 100;
    opacity: 0.7;
    border: 2px solid #fa4d60;
    height: 65px;
  }
  .backToTop a {
    padding: 0;
  }
  .backToTop a img {
    height: 37px;
    transform: rotate(180deg);
  }
  footer {
    margin-bottom: 25px;
  }
  footer ul {
    flex-direction: row !important;
  }
  footer ul li a img {
    height: 39px !important;
    margin-inline: 0 !important;
  }
  .contact section {
    justify-content: center;
    display: flex;
    flex-direction: column !important;
  }
  .subtitle {
    text-align: center !important;
  }
  p {
    font-size: 19.2px;
    text-align: left !important;
  }
  h1, #productsTitle {
    font-size: 64px !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
    line-height: 70px;
  }
  h2 {
    font-size: 32px;
  }
}
/* Nav bar */
nav {
  background-color: #ededed;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 63.5px;
}

#root{
  width: 100%;
}

.container{
  width: 150px;
  border: 2px solid #fa4d60;
  padding: 0;
  border-radius: 20px;
  margin: 0;
  justify-content: center;
  align-items: center;
  align-self: center;
}

ul {
  list-style-type: none;
  margin-top: 70px;
  margin-inline: 30px;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

li {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

#icon {
  display: flex;
  flex: 1;
}

.mobileMenuNav ul li, nav ul li {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 auto;
  align-items: center;
}
.mobileMenuNav ul li:hover, nav ul li:hover {
  border-bottom: 2px #e13238 solid;
}
.mobileMenuNav ul li a, nav ul li a {
  text-decoration: none !important;
  padding: 16px;
}

#locations, .subtitle, #index-article, .contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 800px) {
  iframe, input, select, textarea, button, .contact section, .contact section button {
    width: auto !important;
  }
}
@media (max-width: 800px) {
  nav {
    display: none;
  }
  ul, li, #products {
    flex-direction: column !important;
  }
  .burger {
    text-align: center;
    font-size: 45px;
    padding: 24px;
    margin-top: 35px;
  }
  .mobileMenu {
    display: inline !important;
  }
  .mobileMenuNav {
    display: none;
    align-items: center;
  }
  .mobileMenuNav li {
    text-decoration: underline;
    text-decoration-color: #fa4d60;
    text-decoration-thickness: 2px;
  }
  .mobileMenuNav li a {
    padding: 16px;
  }
  .backToTop {
    display: flex !important;
    border-radius: 50% !important;
    font-size: 15px;
    padding: 11px !important;
    position: fixed;
    left: 2%;
    bottom: 7vh;
    z-index: 100;
    opacity: 0.7;
    border: 2px solid #fa4d60;
    height: 65px;
  }
  .backToTop a {
    padding: 0;
  }
  .backToTop a img {
    height: 37px;
    transform: rotate(180deg);
  }
  footer {
    margin-bottom: 25px;
  }
  footer ul {
    flex-direction: row !important;
  }
  footer ul li a img {
    height: 39px !important;
    margin-inline: 0 !important;
  }
  .contact section {
    justify-content: center;
    display: flex;
    flex-direction: column !important;
  }
  .subtitle {
    text-align: center !important;
  }
  p {
    font-size: 19.2px;
    text-align: left !important;
  }
  h1, #productsTitle {
    font-size: 64px !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
    line-height: 70px;
  }
  h2 {
    font-size: 32px;
  }
}
#locations, .subtitle, #index-article, .contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 800px) {
  iframe, input, select, textarea, button, .contact section, .contact section button {
    width: auto !important;
  }
}

.container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.texto-grid {
  text-align: left !important;
  margin-left: 5px !important;
}
.texto-grid p {
  text-align: left;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  line-height: normal;
  font-family: Inter, sans-serif;
}

h1 {
  font-weight: 900;
  color: #191919;
  text-align: center;
  font-size: 88px;
  margin-bottom: 0;
  line-height: 96px;
  padding-top: 90px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  color: #191919;
  width: auto;
  margin-bottom: 15px;
  text-align: center;
}

img {
  height: 130px;
}

span, .subtitle {
  color: #fa4d60;
}

p {
  color: #757575;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: rgb(28, 30, 33);
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  padding-inline: 12px;
}
a:hover {
  color: #e13238;
}

.mobileMenu, .backToTop {
  display: none;
}

#iconoCarrito{
  height: 40px;
}

#compras{
  all:unset;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 20px;
}

#divBotones{
  display: flex;
  justify-content: center;
}

.divCartWidget{
  display: flex;
  justify-content: right;
}

.divCarrito {
  display: inline-flex !important;
  border-radius: 50% !important;
  justify-content: right;
  font-size: 15px;
  padding: 11px !important;
  z-index: 100;
  opacity: 0.7;
  border: 2px solid #fa4d60;
}

#locations, .subtitle, .contact, #index-article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 800px) {
  iframe, input, select, textarea, button, .contact section, .contact section button {
    width: auto !important;
  }
}
@media (max-width: 800px) {

  .carousel{
    width: auto;
  }
 
  nav {
    display: none;
  }
  ul, li, #products {
    flex-direction: column !important;
  }
  .burger {
    text-align: center;
    font-size: 45px;
    padding: 24px;
    margin-top: 35px;
  }
  .mobileMenu {
    display: inline !important;
  }
  .mobileMenuNav {
    display: none;
    align-items: center;
  }
  .mobileMenuNav li {
    text-decoration: underline;
    text-decoration-color: #fa4d60;
    text-decoration-thickness: 2px;
  }
  .mobileMenuNav li a {
    padding: 16px;
  }
  .backToTop {
    display: flex !important;
    border-radius: 50% !important;
    font-size: 15px;
    padding: 11px !important;
    position: fixed;
    left: 2%;
    bottom: 7vh;
    z-index: 100;
    opacity: 0.7;
    border: 2px solid #fa4d60;
    height: 65px;
  }
  .backToTop a {
    padding: 0;
  }
  .backToTop a img {
    height: 37px;
    transform: rotate(180deg);
  }
  footer {
    margin-bottom: 25px;
  }
  footer ul {
    flex-direction: row !important;
    justify-content: left;
  }
  footer ul li a img {
    height: 39px !important;
    margin-inline: 0 !important;
  }
  .contact section {
    justify-content: center;
    display: flex;
    flex-direction: column !important;
  }
  .subtitle {
    text-align: center !important;
  }
  p {
    font-size: 19.2px;
    text-align: left !important;
  }
  h1, #productsTitle {
    font-size: 64px !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
    line-height: 70px;
  }
  h2 {
    font-size: 32px;
  }
}
footer {
  color: #191919;
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.containerDeProductos{
  justify-content: center;
  display: flex;
  flex-direction: row;
}

footer ul li a img {
  padding: 8px;
  margin-top: 10px;
  height: 40px !important;
  border-radius: 40%;
  margin-inline: 10px;
  box-sizing: unset;
}

footer ul li a img:hover {
  background-color: rgb(211, 211, 211);
  transform: scale(1.15);
  transition: 0.3s;
}

#locations, .subtitle, .contact, #index-article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ItemDetailContainer > li > img{
  height: 170px;
  padding: 10px;
}

.ItemDetailContainer{
  width: 200px;
  padding: 20px;
  border: 2px solid #fa4d60;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.ItemDetailContainer > li > p{
  font-size: 24px;
  margin: 0;
}

.ItemDetailContainer > a {
  display: flex;
}

@media (max-width: 800px) {
  iframe, input, select, textarea, button, .contact section, .contact section button {
    width: auto !important;
  }
}
.subtitle {
  font-size: 50px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: normal;
  margin: 15px;
  text-shadow: -1px 0 #883b3b, 0 1px #883b3b, 1px 0 #883b3b, 0 -1px #883b3b;
}